<div class="container">

  <div class="row">
    <div class="col-xs-24 col-sm-16">
      <!-- adds a button to open a ui bootstrap modal -->
      <temps></temps>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-24 col-sm-16">
      <!-- adds a button to open a ui bootstrap modal -->
      <my-modal></my-modal>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-24 col-sm-16">
      <!-- adds a button to open a ui bootstrap modal -->
      <all-profiles></all-profiles>
    </div>
  </div>

</div>