<nav>
  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
        <li class="sidebar-brand"><a id="menu-toggle" href="/theArchives">The Archives</a></li>
      </ul>
      <ul class="sidebar-nav" id="sidebar">

        <!--<button class="md-button-toggle md-button md-ink-ripple" type="button" ng-transclude="" ng-click="toggle()" aria-controls="docs-menu-Demos"
          aria-expanded="true" aria-label="Demos Toggle expanded">
        <div flex="" layout="row" class="ng-binding ng-scope layout-row flex">
          Demos
          <span flex="" class="flex"></span>
          <span aria-hidden="true" class="md-toggle-icon toggled" ng-class="{'toggled' : isOpen()}">
          <md-icon md-svg-icon="md-toggle-arrow" aria-hidden="true"><svg version="1.1" x="0px" y="0px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
          <path d="M24 16l-12 12 2.83 2.83 9.17-9.17 9.17 9.17 2.83-2.83z"></path>
          <path d="M0 0h48v48h-48z" fill="none"></path>
          </svg></md-icon>
          </span>
        </div>
        </button>-->

        <!--<uib-accordion close-others="oneAtATime">
            <uib-accordion-group>
              <uib-accordion-heading>
                Images
              </uib-accordion-heading>
              Add Image
            </uib-accordion-group>
          </uib-accordion>-->


        <!--<a class="md-button-toggle md-button md-ink-ripple" type="button" ng-transclude="" ng-click="toggle()" aria-controls="docs-menu-Demos"
          aria-expanded="true" aria-label="Demos Toggle expanded">Images<i class="sub_icon glyphicon glyphicon-link"></i></a>-->

        <ul>
          <li><a data-toggle="collapse" ng-href="#img-add">Images<i class="sub_icon glyphicon glyphicon-link"></i></a></li>
          <li id="img-add" class="collapse"><input type="file"></li>
        </ul>
        <ul>
          <li><a>Videos<i class="sub_icon glyphicon glyphicon-link"></i></a></li>
          <!--<li><input type="file"></li>-->
        </ul>
        <ul>
          <li><a>Music<i class="sub_icon glyphicon glyphicon-link"></i></a></li>
          <!--<li><input type="file"></li>-->
        </ul>
        <ul>
          <li><a>Web Content<i class="sub_icon glyphicon glyphicon-link"></i></a></li>
          <!--<li><input type="file"></li>-->
        </ul>
        <ul>
          <li><a>Ideas<i class="sub_icon glyphicon glyphicon-link"></i></a></li>
          <!--<li><input type="file"></li>-->
        </ul>
        <ul>
          <li>
            <a href=""><input id="submit-archive" type="submit" value="Submit"></a>
          </li>
        </ul>

      </ul>
    </div>

    <!-- Page content -->

    <!--<div id="page-content-wrapper">-->

    <!-- Keep all page content within the page-content inset div! -->

    <!--<div class="page-content inset">
      <div class="row">
        <div class="col-md-12">
          <p class="well lead">An Experiment using the sidebar template from startbootstrap.com which I integrated in my website (<a href="http://animeshmanglik.name">animeshmanglik.name</a>)</p>
          <p class="well lead">Click on the Menu to Toggle Sidebar . Hope you enjoy it!</p>
        </div>
      </div>
    </div>
  </div>-->

  </div>
</nav>