<div class="container-fluid">

  <!--Tasks-->
  <div class="row">
    <div class="col-xs-24">

      <div>
        <uib-alert ng-repeat="rem in rems" type="{{rem.type}}" close="closeRem($index)">
          <span>{{remainingTasks()}} of {{totalTasks()}} remaining</span>
        </uib-alert>
      </div>

      <uib-accordion close-others="oneAtATime">

        <uib-accordion-group ng-repeat="task in tasks | filter: search">
        <!--<uib-accordion-group ng-repeat="task in tasks track by $index" ng-href="/{{task._id}}">-->
          <uib-accordion-heading>
            <!--<button type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">-->
            <input ng-click="$event.stopPropagation(); disabled = !disabled" type="checkbox" id="accCheck" ng-model="task.done" ng-change="update($index)">
            <span class="done-{{task.done}}">{{task.main}}</span>
            <span class="caret"></span>
          </uib-accordion-heading>
          <input type="checkbox" ng-model="sub.done" ng-disabled="disabled">

          <span class="done-{{sub.done}} done-{{task.done}}">{{task.sub}}</span>
          </br>
          <span class="done-{{task.done}}">{{task.description}}<img src="{{newTsk.pic}}" alt=""></span>
        </uib-accordion-group>

      </uib-accordion>

    </div>
  </div>
  <!-- /Tasks -->

  <!-- Add Task -->
  <div class="row">
    <div class="col-xs-24">
      <!-- Split button -->
      <form ng-submit="submitTask()">
      <div ng-click="$event.stopPropagation();" class="btn-group" uib-dropdown>
        <!--Known issues To use tooltips or popovers on elements within a btn-group, set the tooltip/popover appendToBody option to true. This is due to Bootstrap CSS styling. See here for more information.-->
        <button id="split-button" type="submit" class="btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" tooltip-placement="left" uib-tooltip="Add task" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
        <!-- /Split button -->
        <!-- Dropdown -->
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
          <li role="menuitem">
            <!--<form ng-submit="submitTask()">-->

              <!--<label for="taskMain">Main Task</label>-->
              <input type="text" class="form-control" ng-model="newTsk.main" id="taskMain" placeholder="Main task" required>
              <!--<label for="taskSub">Sub Task</label>-->
              <input type="text" class="form-control" ng-model="newTsk.sub" id="taskSub" placeholder="Sub task">
              <!--<label for="taskDescription">Description</label>-->
              <input type="text" class="form-control" ng-model="newTsk.description" id="taskDescription" placeholder="Description">
              <!--<label for="taskPic"></label>-->
              <input type="file" file-model="newTsk.pic" ng-disabled="false"/>
              
              <!--<button ng-click="uploadFile()">Upload</button>-->

              <!--<input type="submit" id="submit" class="btn btn-default" value="Add">-->

              <!--<form ng-submit="addTask()">

              <input type="text" ng-model="addTaskTitle" size="30" placeholder="add new task here">
              <input type="text" ng-model="addSubTaskTitle" size="30" placeholder="add new subTask here">
              <input type="text" ng-model="addDescriptionTitle" size="30" placeholder="add new description here">
              <input class="btn" type="submit" value="+">-->


            </form>
          </li>
          </li>
        </ul>
        <!-- /Dropdown -->
      </div>
      <!-- Clear and Archive buttons -->
      <!--<div class="">-->
      <button class="btn" ng-click="archiveTasks()" tooltip-placement="bottom" uib-tooltip="Archive completed tasks"><i class="fa fa-archive" aria-hidden="true"></i></button>
      <button class="btn" ng-click="removeDone()" tooltip-placement="bottom" uib-tooltip="Clear completed tasks"><i class="fa fa-trash" aria-hidden="true"></i></button>
      <!--</div>-->
      <!-- /Clear and Archive buttons -->
    </div>
  </div>
  <!-- /Add Task -->

  <!-- Task archive -->
  <div class="row well" ng-repeat="tasks in taskArchive">
    <div class="col-xs-24">
      <ul>
        <li>
          <span>{{tasks.title}} [ done: {{tasks.done}} ]</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Task archive -->

</div>
<!-- /col -->
</div>
<!-- /row -->
</div>
<!-- /container-fluid -->